This note book provides a quick way to test queries for validation and new feature development.

In [283]:
import configparser
import psycopg2
from sql_queries import create_table_queries, drop_table_queries,copy_table_queries,insert_table_queries
%load_ext autoreload
%autoreload 2
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [275]:
q=5

In [276]:
query = drop_table_queries[q]
print(query)
cur.execute(query)
conn.commit()

DROP TABLE IF EXISTS artists

In [277]:
query = create_table_queries[q]
print(query)
cur.execute(query)
conn.commit()

    CREATE TABLE artists(
    artist_id varchar NOT NULL SORTKEY,
    name varchar NOT NULL,
    location varchar,
    latitude float,
    longitude float
    )

In [286]:
print("executing query:\n{}".format(query))

executing query:

INSERT INTO time
    (start_time, hour, day, week, month, year, weekday)
    SELECT DISTINCT TIMESTAMP 'epoch' + ts/1000 *INTERVAL '1 second' as start_time,
            EXTRACT (hour from start_time) as hour,
            EXTRACT (day from start_time) as day,
            EXTRACT (week from start_time) as week,
            EXTRACT (month from start_time) as month,
            EXTRACT (year from start_time) as year,
            EXTRACT (dow from start_time) as weekday
        FROM staging_events
        WHERE TRIM(page) = 'NextSong'

In [ ]:
query = copy_table_queries[q]
print(query)
cur.execute(query)
conn.commit()

In [285]:
q=4
query = insert_table_queries[q]
print(query)
cur.execute(query)
conn.commit()

INSERT INTO time
    (start_time, hour, day, week, month, year, weekday)
    SELECT DISTINCT TIMESTAMP 'epoch' + ts/1000 *INTERVAL '1 second' as start_time,
            EXTRACT (hour from start_time) as hour,
            EXTRACT (day from start_time) as day,
            EXTRACT (week from start_time) as week,
            EXTRACT (month from start_time) as month,
            EXTRACT (year from start_time) as year,
            EXTRACT (dow from start_time) as weekday
        FROM staging_events
        WHERE TRIM(page) = 'NextSong'